* {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #222222;
	box-sizing: border-box;
}

.clearfix::after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

div {
	box-sizing: border-box;
}

header {
	background: url(../img/bg.jpg) no-repeat center top / cover;
	height: 100vh;
}

.container {
	width: 930px;
	margin: 0 auto;
}


nav {
	float: right;
	margin-top: 45px;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 41px;
}

.menu a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
    transition: transform 0.3s ease;
}

.menu a:hover{
	background-color: #fff;
	color: black;
	transform: scale(1.05);
}

.titles__first {
	font-family: 'Times New Roman', Times, serif;
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 60vh;
}

h1 {
	font-size: 75px;
	font-family: 'Times New Roman', Times, serif;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	color: #484543;
	border-radius: 3px;
	padding: 20px 0;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	margin-top: 50px;
}

/* setting style for image container */

.center-wrapper {
	margin: 200px;
	margin-top: 100px;
}

#gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#gallery-container img {
    width: 80%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
    margin: auto;
}

#gallery-container img:hover {
    transform: scale(1.05);
}

